<div class="password-reset-container">
    <div class="em-block password-reset-block">
        <div class="logo-container">
            <img src="assets/img/logo.png" alt="Logo Ecce Missa">
            <h1>ECCE MISSA</h1>
        </div>
        <h2>Réinitialisation du mot de passe</h2>
        <form [formGroup]="passwordResetForm">
            <div class="form-group">
                <label for="password">Nouveau mot de passe :</label>
                <input type="password" name="password" id="password" class="em-input" [formControlName]="'password'">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmer le nouveau mot de passe :</label>
                <input type="password" name="confirm_password" id="confirm_password" class="em-input" [formControlName]="'confirm_password'">
            </div>
            <button class="em-btn success" [disabled]="!passwordResetForm.valid" (click)="submitForm().subscribe()">
                @if (isLoading){
                        <app-em-loader [size]="Size.Small"></app-em-loader>
                }
                <span>Réinitialiser mon mot de passe</span>
            </button>
        </form>
        <p><a routerLink="/connexion">Retour à la page de connexion</a></p>
    </div>
</div>