<div class="paroisse em-block">
    <div class="paroisse-container">
        <div class="paroisse-title">
            <h2>Ma paroisse</h2>
            @if(!isLoading && !paroisse){
                <div class="add-button em-btn" (click)="openAddModal()">
                    <img src="assets/img/plus.svg" alt="Ajouter une paroisse">
                </div>
            } @else if(!isLoading && paroisse) {
                <div class="action-btns">
                    <div class="add-button em-btn" (click)="openEditParoisseModal()">
                        <img src="assets/img/edit.svg" alt="Modifier paroisse">
                    </div>
                    <div class="add-button em-btn" (click)="openDeleteModal()">
                        <img src="assets/img/trash.svg" alt="Supprimer paroisse">
                    </div>
                </div>
            }
        </div>
        @if (isLoading){
            <app-em-loader></app-em-loader>
        } @else {
            <div class="paroisse-list">
                @if (paroisse){
                    <h3>{{paroisse.nom}} - <small>{{paroisse.diocese}}</small></h3>
                    <p>Paiement : 
                        @if(paroisse.paiement_a_jour){
                            <span class="badge badge-success">A jour</span>
                            <div class="paroisse-btn">
                                <p class="em-btn" (click)="openBillingPortal().subscribe()">Accéder au portail client</p>
                            </div>
                        } @else {
                            <div class="paroisse-btn">
                                <span class="em-btn danger" (click)="openRetryPaymentModal()">A régulariser</span>
                            </div>
                        }
                    </p>
                    <p>Code unique : <strong>{{paroisse.code_unique}}</strong></p>
                    <div class="paroisse-btn">
                        <div class="em-btn" (click)="downloadParoisseQRCode()">
                            Télécharger le QR Code de la paroisse
                        </div>
                    </div>
                    <p>Utilisateur(s) liés à la paroisse :</p>
                    <div class="paroisse-btn">
                        @for(resp of paroisse.responsables; track resp){
                            <span class="badge">{{resp}}</span>
                        }
                    </div>
                    
                    <div class="paroisse-btn">
                        <div class="em-btn danger" (click)="openLeaveParoisseModal()">
                            Quitter la paroisse
                        </div>
                    </div>
                }
                @else if(!isLoading && !paroisse){
                    <h3>Vous n'êtes rattaché à aucune paroisse</h3>
                    <p>Si vous êtes paroissien, vous pouvez entrer le code unique communiqué par votre paroisse.</p>
                    <p>Si votre paroisse n'est pas encore créée sur Ecce Missa, vous pouvez la créer.</p>
                    <div class="paroisse-btn">
                        <div class="em-btn" (click)="openAddModal()">
                            <img src="assets/img/plus.svg" alt="Ajouter une paroisse">
                            Ajouter une paroisse
                        </div>
                        <div class="em-btn" (click)="openJoinModal()">
                            Rejoindre une paroisse
                        </div>
                    </div>
                }
            </div>
        }
        
    </div>
</div>