<div class="paroisse em-block">
    <div class="paroisse-container">
        <div class="paroisse-title">
            <h2>Ma paroisse</h2>
            @if(!isLoading && !paroisse){
                <div class="add-button em-btn" (click)="openAddModal()">
                    <img src="assets/img/plus.svg" alt="Ajouter une paroisse">
                </div>
            } @else if(!isLoading && paroisse) {
                <div class="action-btns">
                    @if(getRole()?.includes('ROLE_ADMIN')){
                        <div class="add-button em-btn" (click)="openEditParoisseModal()" title="Modifier la paroisse">
                            <img src="assets/img/edit.svg" alt="Modifier la paroisse">
                        </div>
                    }
                    <div class="add-button em-btn danger" (click)="openLeaveParoisseModal()" title="Quitter la paroisse">
                        <img src="assets/img/logout.svg" alt="Quitter la paroisse">
                    </div>
                    @if(getRole()?.includes('ROLE_ADMIN')){
                        <div class="add-button em-btn danger" (click)="openDeleteModal()" title="Supprimer la paroisse">
                            <img src="assets/img/trash.svg" alt="Supprimer la paroisse">
                        </div>
                    }
                </div>
            }
        </div>
        @if (isLoading){
            <app-em-loader></app-em-loader>
        } @else {
            <div class="paroisse-page">
                @if (paroisse){
                    <div class="paroisse-header">
                        <div class="paroisse-infos">
                            <h3 class="paroisse-name"><strong>{{paroisse.nom}}</strong></h3>
                            <p class="paroisse-diocese">{{paroisse.diocese}}</p>
                            <p class="paroisse-code">Code unique : <strong>{{paroisse.code_unique}}</strong></p>
                        </div>
                        <div class="paroisse-actions">
                            @if(getRole()?.includes('ROLE_EDITOR')){
                                <div class="em-btn" (click)="openAddFeuilletModal()">
                                    <img src="assets/img/plus.svg" alt="Ajouter un feuillet">
                                    <span>Ajouter un feuillet</span>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="paroisse-dashboard">
                        @if(paroisse.paiement_a_jour){
                            <div class="paroisse-dashboard-item em-block em-block--success">
                                <p>Paiement à jour</p>
                                
                                @if(getRole()?.includes('ROLE_ADMIN')){
                                    <div class="paroisse-btn">
                                        <p class="em-btn" (click)="openBillingPortal().subscribe()">Accéder au portail de facturation</p>
                                    </div>
                                }
                            </div>
                        } @else {
                            <div class="paroisse-dashboard-item em-block em-block--danger">
                                <p>Paiement à régulariser</p>
                                
                                @if(getRole()?.includes('ROLE_ADMIN')){
                                    <div class="paroisse-btn">
                                        <p class="em-btn danger" (click)="openRetryPaymentModal()">Régulariser le paiement</p>
                                    </div>
                                }
                            </div>
                        }

                        <div class="paroisse-dashboard-item paroisse-dashboard-item--qr-code em-btn" (click)="downloadParoisseQRCode()">
                            <img src="data:image/png;base64,{{paroisse.qr_code}}" alt="QR Code de la paroisse">
                            <p>Télécharger le QR Code de la paroisse</p>
                        </div>

                        <div class="paroisse-dashboard-item paroisse-dashboard-item--users em-block">
                            <h3 class="paroisse-dashboard-item--users-number">{{paroisse.responsables.length}}</h3>
                            <div class="paroisse-dashboard-item--users-description">
                                <p>utilisateur{{paroisse.responsables.length > 1 ? 's' : ''}} actif{{paroisse.responsables.length > 1 ? 's' : ''}} sur la paroisse.</p>
                                
                                @if(getRole()?.includes('ROLE_ADMIN')){
                                    <div class="paroisse-btn">
                                        <p class="em-btn" (click)="openManageUserModal()">Gérer les utilisateurs</p>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="paroisse-dashboard-item paroisse-dashboard-item--stats em-block">
                            <div class="form-group">
                                <select class="em-input" [(ngModel)]="selectedPeriod" (change)="loadFeuilletViews()">
                                    <option value="week">Cette semaine</option>
                                    <option value="month">Ce mois</option>
                                    <option value="year">Cette année</option>
                                    <option value="max">Max</option>
                                </select>
                            </div>
                            <canvas id="viewsChart" class="paroisse-dashboard-item--stats--canvas"></canvas>
                        </div>
                        <div class="paroisse-dashboard-item em-block">
                        </div>
                    </div>
                }
                @else if(!isLoading && !paroisse){
                    <h3>Vous n'êtes rattaché à aucune paroisse</h3>
                    <p>Si vous êtes paroissien, vous pouvez entrer le code unique communiqué par votre paroisse.</p>
                    <p>Si votre paroisse n'est pas encore créée sur Ecce Missa, vous pouvez la créer.</p>
                    <div class="paroisse-btn">
                        <div class="em-btn" (click)="openAddModal()">
                            <img src="assets/img/plus.svg" alt="Ajouter une paroisse">
                            Ajouter une paroisse
                        </div>
                        <div class="em-btn" (click)="openJoinModal()">
                            Rejoindre une paroisse
                        </div>
                    </div>
                }
            </div>
        }
        
    </div>
</div>