
.sidebar {
    &-container {
        padding: 1em;
        display: flex;
        flex-direction: column;

        .nav-link {
            padding: 1em 1.2em;
            margin-bottom: .7em;
            vertical-align: middle;
            text-decoration: none;
        }
    }

    &.em-block {
        min-height: 100%;
    }
}
