<div class="sidebar em-block">
    <nav class="sidebar-container">
        <a class="nav-link em-btn" routerLink="/accueil/feuillets" routerLinkActive="active"><img src="assets/img/livre.svg" alt="Mes feuillets">Mes feuillets</a>
        <a class="nav-link em-btn" routerLink="/accueil/diocese" routerLinkActive="active"><img src="assets/img/croix.svg" alt="Mon diocèse">Mon diocèse</a>
        <a class="nav-link em-btn" routerLink="/accueil/paroisse" routerLinkActive="active"><img src="assets/img/communaute.svg" alt="Ma paroisse">Ma paroisse</a>
        <a class="nav-link em-btn" routerLink="/accueil/compte" routerLinkActive="active"><img src="assets/img/roue.svg" alt="Mon compte">Mon compte</a>
    </nav>
</div>