<div class="feuillets em-block">
    <div class="feuillets-container">
        <div class="feuillets-title">
            <h2>Mes derniers feuillets</h2>
            <div class="add-button em-btn" (click)="openAddModal()">
                <img src="assets/img/plus.svg" alt="Ajouter un feuillet">
            </div>
        </div>
        @if (isLoading){
            <app-em-loader></app-em-loader>
        }
        <div class="feuillets-list">
            @if (feuillets){
                @if (feuillets.length > 0) {
                    @for (feuillet of feuillets; track feuillet.id){
                        <div class="em-btn feuillet-btn" (click)="openFeuillet(feuillet.id, $event)">
                            <span class="feuillet-txt">
                                Feuillet du {{moment(feuillet.celebrationDate).format('dddd DD/MM/YYYY')}} - {{feuillet.paroisse}}
                            </span>
                            <div class="feuillet-indicators">
                                <img src="assets/img/oeil.svg" alt="">
                                <div class="indicator-views">{{feuillet.viewCount}}</div>
                                <img src="assets/img/edit.svg" alt="" (click)="editFeuillet(feuillet.id, $event)">
                                <img src="assets/img/trash.svg" alt="" class="danger" (click)="deleteFeuillet(feuillet.id, $event)">
                            </div>
                        </div>
                    }
                } @else if(!isLoading) {
                    <h3>Aucun feuillet téléchargé pour le moment</h3>
                    <div class="add-btn">
                        <div class="em-btn add-btn" (click)="openAddModal()">
                            <img src="assets/img/plus.svg" alt="Ajouter une feuillet">
                            Ajouter un nouveau feuillet
                        </div>
                    </div>
                }
            }

            @if(!isLoading && error && error === 'payment'){
                <h3>Votre abonnement à la paroisse est en attente de mise à jour.</h3>
                <p>Nous vous invitons à régulariser votre paiement afin de profiter pleinement de l'ajout et de la consultation des feuillets.</p>
                <p>Si vous avez déjà effectué un virement SEPA, soyez assuré que votre accès sera rétabli dès la validation bancaire de l'opération.</p>
                <div class="add-btn">
                    <div class="em-btn add-btn success" (click)="openRetryPayment().subscribe()">
                        Régulariser le paiement
                    </div>
                </div>
            }
            @if(!isLoading && error && error === 'paroisse'){
                <h3>Vous n'êtes rattaché à aucune paroisse.</h3>
                <p>Si vous êtes paroissien, vous pouvez entrer le code unique communiqué par votre paroisse.</p>
                <p>Si votre paroisse n'est pas encore créée sur Ecce Missa, vous pouvez la créer.</p>
                <div class="add-btn">
                    <div class="em-btn add-btn success" routerLink="/paroisse">
                        Créer ou rejoindre une paroisse
                    </div>
                </div>
            }
        </div>
        @if(!isLoading && totalItems > pageSize){
            <div class="pagination-controls">
                <button class="em-btn" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)"><</button>
                <span>Page {{ currentPage }} sur {{ totalPages }}</span>
                <button class="em-btn" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">></button>
            </div>
        }
    </div>
</div>