<div class="feuillets em-block">
    <div class="feuillets-container">
        <div class="feuillets-title">
            <h2>Mes derniers feuillets</h2>
            <div class="add-button em-btn" (click)="openAddModal()">
                <img src="assets/img/plus.svg" alt="Ajouter un feuillet">
            </div>
        </div>
        <div class="feuillets-list">
            @if (isLoading){
                <app-em-loader></app-em-loader>
            }
            @if (feuillets){
                @for (feuillet of feuillets; track feuillet.id){
                    <div class="em-btn feuillet-btn" (click)="openFeuillet(feuillet.id)">
                        <span class="feuillet-txt">
                            Feuillet du {{moment(feuillet.celebrationDate).format('dddd DD/MM/YYYY')}} - {{feuillet.egliseName}}
                        </span>
                        <div class="feuillet-indicators">
                            <img src="assets/img/oeil.svg" alt="">
                            <div class="indicator-views">{{feuillet.viewCount}}</div>
                            <img src="assets/img/options.svg" alt="">
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>