.feuillets {
    &-container {
        padding: 0 1.5em;
    }

    &-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .add-button {
            height: 40px;
            width: 40px;

            & > img {
                margin: 0 auto;
            }
        } 
    }

    &-list {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        overflow-y: auto;
        text-align: center;

        .feuillet-btn {
            margin-bottom: .5em;
            padding: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .feuillet-indicators {
                display: flex;
                flex-direction: row;
                align-items: center;

                & > img {
                    width: 20px;
                    height: 20px;
                    margin-right: .5em;
                }

                .indicator-views {
                    margin-right: 1.5em;
                }

                
            }
        }
    }
}