<div class="modal-header">
    <h2>Modifier mon profil</h2>
    <div class="close-btn" (click)="close()"><img src="assets/img/close.svg" alt=""></div>
</div>
@if (isLoading) {
    <app-em-loader></app-em-loader>
} @else {
    <form class="modal-form" [formGroup]="changePasswordForm">
        <div class="form-group">
            <label for="ancienPassword">Ancien mot de passe :</label>
            <input type="password" name="ancienPassword" id="ancienPassword" class="em-input" [formControlName]="'ancienPassword'"/>
        </div>
        <div class="form-group">
            <label for="nouveauPassword">Nouveau mot de passe :</label>
            <input type="password" name="nouveauPassword" id="nouveauPassword" class="em-input" [formControlName]="'nouveauPassword'"/>
        </div>
    </form>
    <div class="modal-footer">
        <button class="em-btn" (click)="modalService.close()"><span>Annuler</span></button>
        <button class="em-btn success" [disabled]="!changePasswordForm.valid" (click)="submitForm().subscribe()"><span>Modifier</span></button>
    </div>
}