<div class="modal-header">
    <h2>Quitter la paroisse</h2>
    <div class="close-btn" (click)="close()"><img src="assets/img/close.svg" alt=""></div>
</div>
@if (isLoading) {
    <app-em-loader></app-em-loader>
} @else {
    <p>Êtes vous sûr de vouloir quitter la paroisse ?</p>
    <p>S'il reste des responsables, vous pourrez toujours la rejoindre grâce au code unique.</p>
    <p>Si aucun utilisateur n'est présent dans la paroisse, la paroisse sera automatiquement supprimée et l'abonnement résilié. Aucun remboursement ne pourra être effectué.</p>
    <div class="modal-footer">
        <button class="em-btn" (click)="modalService.close()"><span>Annuler</span></button>
        <button class="em-btn danger" (click)="submitForm().subscribe()"><span>Quitter</span></button>
    </div>
}

