.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}

.modal {
  position: absolute;
  margin: 1em auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: left;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
  z-index: 2;
  padding: .5em 1.5em;
}

.em-btn {
  padding: 1em;
}

/* Pour les navigateurs basés sur WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de scroll */
}

::-webkit-scrollbar-track {
  background: #dce5e1; /* Couleur de l'arrière-plan de la barre */
  border-radius: 10px; /* Arrondir les coins */
}

::-webkit-scrollbar-thumb {
  background-color: #a7c1ba; /* Couleur de la barre de défilement */
  border-radius: 10px; /* Arrondir les coins */
  border: 2px solid #dce5e1; /* Créer un effet d'espace autour de la barre */
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a7c1ba #dce5e1;
}
