@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './app/modal/modal-animations.css';
@import 'variables.scss';

body {
    background-image: url('assets/img/bg.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    color: $primary-black;
}

h1 {
    font-weight: 400;
}
h2 {
    font-weight: 400;
}

.em-block {
    height: 100%;
    width: 100%;

    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.em-btn {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 200ms ease-in-out;
    color: black;
    
    & > img {
        width: 20px;
        height: 20px;
        margin-right: .7em;
    }

    &:hover {
        background: rgba(168, 168, 168, 0.2);
    }

    &.active {
        background: rgba(0, 42, 38, 0.62);
        color: white;
        font-weight: bold;

        & > img {
            filter: invert(1);
        }
    }
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .close-btn {
        cursor: pointer;
    }
}