.main-container {
    height: calc(100vh - 82px - 1em);
    display: flex;
    flex-direction: row;
    padding: 0 1em;

    app-sidebar {
        flex: 1;
        margin: 0 1em;
    }
    .main-router {
        flex: 4;
        margin: 0 1em;
    }
}


@media (max-width: 768px) {
    .main-container {
        app-sidebar {
            flex: 0;
            margin: 0;
        }
        .main-router {
            margin: 0;
        }
    }
}